{% load static %}
<div id="chat-circle">
      <div id="chat-overlay"></div>
</div>
<div class="chatbot-container" style="display:none;">
  <div id="header">
      <h1>Chatbot</h1>
      <p id="header-close">X</p>
  </div>
  <div id="chatbot">
      <div id="conversation">
        <div class="chatbot-message">
          <p class="chatbot-text">Hi! 👋</p>
        </div>
      </div>
      <form id="input-form">
        <message-container>
          <input id="input-field" type="text" placeholder="Type your message here">
          <button id="submit-button" type="submit">
            <img class="send-icon" src="send-message.png" alt="">
          </button>
        </message-container>
          
      </form>
  </div>  

</div>
