*{
    font-family: 'Pretendard', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F8F4;
    width: 100vw;
    height: 100vh;
}
.login_text{
    color: #1E1E1E;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}
.login_form{
    width: 340px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #CAC8C5;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login_btn{
    display: flex;
    width: 240px;
    padding: 11px 82px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #1E1E1E;
    cursor: pointer;
}
.login_btn_text{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input_box{
    position:relative;
    margin:10px 0;
}
.input_box > input{
    background:transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    padding:10px 0px 5px 0px;
    font-size:14pt;
    width:100%;
}

.signin_form {
    width: 340px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #CAC8C5;
    background: #FFF;
    display: flex;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.signup_btn{
    display: flex;
    width: 80px;
    padding: 11px 82px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #1E1E1E;
    cursor: pointer;
}
.sign_text {
    color: #1E1E1E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}
