{% load static %}
    <div class="header" style="background: #F9F8F4;">
        <a href="{% url 'index' %}" class="home_button">
            <img src="{% static 'img/084.svg' %}">
            <span class="home_button_text">MYLOG</span>
        </a>
        <span class="menu">
            <a href="">일상</a>
            <a href="">요리</a>
            <a href="">여행</a>
            <a href="">영화</a>
            <a href="">IT</a>
            <a href="">Logout</a>
        </span>
        <div class="nav_buttons">
            <button onclick="location.href='{% url 'write' %}'" class="just_wirte_button">Just Write! </button>
        </div>
    </div>
