{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <header>
        {% include "post/header.html" %}
    </header>
    <main>
        <div class="container">
            <div class="main-post">
                <div class="big-post">
                    <p class="post_date">2023 09 06</p>
                    <p class="post_title">Lorem ipsum dolor</p>
                    <p class="post_writer">by userid</p>
                    <div style='display:flex;justify-content: center;text-align: center;'><div class="post_tag">일상</div></div>
                    <p class="post_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat purus dolor luctus vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.</p>    
                    <img src="{% static 'img/post_sample1.svg' %}">
                    <p class="post_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat purus dolor luctus vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.</p>    
                </div>
                <div class="others-post">
                    <p class="others">Other posts you may like</p>
                    <div>
                        <img src="{% static 'img/post_sample2.svg' %}">
                        <p class="other_post_title">Lorem ipsum dolor</p>
                    </div>
                    <div>
                        <img src="{% static 'img/post_sample2.svg' %}">
                        <p class="other_post_title">Lorem ipsum dolor</p>
                    </div>
                </div>  
            </div>
            <div class="crud_btns">
                    <div style="display:flex; gap:10px">
                        <div class="update_btn">수정하기</div>
                        <div class="delete_btn">삭제하기</div>
                    </div>
                    <div class="share_btn">공유하기</div>
            </div>         
            <div class="story_list">
                <div>
                    <span class="next_story">다음글</span>
                    <span class="next_story_tile">글의 제목입니다.</span>
                </div>
                <span class="next_story_date">2023 09 06</span>
            </div>
            <div class="story_list">
                <div>
                    <span class="prev_story">이전글</span>
                    <span class="prev_story_title">글의 제목입니다.</span>
                </div>
                <span class="prev_story_date">2023 09 06</span>
            </div>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>