{% load static %}
    <div class="header" style="background: #1E1E1E;">
        <a href="href='{% url 'index' %}'" class="home_button">
            <img src="{% static 'img/083.svg' %}">
            <span class="home_button_text">MYLOG</span>
        </a>
        {% comment %} <img src="{% static 'img/083.svg' %}">
        <button onclick="location.href='{% url 'admin' %}" class="home_button">MYLOG</button> {% endcomment %}
        <span class="menu">
            <a href="">일상</a>
            <a href="">요리</a>
            <a href="">여행</a>
            <a href="">영화</a>
            <a href="">IT</a>
        </span>
        <div class="nav_buttons">
            {% if is_logined %}
            {% comment %} <button onclick="location.href='{% url 'index' %}'" class="login_button">Logout</button> {% endcomment %}
            <a href="href='{% url 'index' %}'" class="logout_button">Logout</a>
            <button onclick="location.href='{% url 'write' %}'" class="just_wirte_button">Just Write! </button>
            {% else %}
            <button onclick="location.href='{% url 'login' %}'" class="just_wirte_button">Login</button>
            {% endif %}
        </div>
    </div>
