{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}?{% now 'U' %}">
</head>
<body>
    <div>
        <div class='login_text'>Login</div>
        <!-- {% url 'admin' %} 로그인 시 login논리처리 페이지로 넘겨줘야함 -->
        <form class="login_form" method="POST" action="{% url 'admin' %}">
            {% csrf_token %}
            <div class="input_box">
                <input type="text" name="id">
            </div>
            <div class="input_box">
                <input type="password" name="password">
            </div>
            <button class="login_btn" type="submit"><span class="login_btn_text">Log In</span></button>
        </form>
        <div class="signin_form">
            <div class='sign_text'>First visit to this site?</div>
            <a class="signup_btn" href="{% url 'signup' %}" ><span class="login_btn_text">Sign Up</span></a>     
        </div>
    </div>
</body>
</html>